root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.php]
indent_style = tab
tab_width = 4
ij_php_lower_case_boolean_const = false
ij_php_keep_simple_methods_in_one_line = true
ij_php_blank_lines_after_function = 1
ij_php_blank_lines_after_imports = 1

[*.xml]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
ij_json_keep_indents_on_empty_lines = false
ij_json_space_after_colon = true
insert_final_newline = false

[*.md]
indent_style = space
indent_size = 4
