<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap=" src/com/carlgo11/tempfiles/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="tempfiles">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="phpunit" value="true"/>
  </php>
</phpunit>
